{# src/Bplaetevoet/HomeBundle/Resources/views/Home/adminprojects.html.twig #}

{% extends 'BplaetevoetHomeBundle:Admin:adminbase.html.twig' %}

{% block content %}
    <div class="container">
        <div class="intro">
        <h2>Lijst van projecten</h2>
        
            {% for project in projecten %}
                <section class="middle">
                    <div class="col-xs-7">
                    <h3>{{project.naam}}</h3>
                        <ul>    
                            <li>url : <a href="{{ project.url }}" target="_blank">{{ project.url }}</a></li>
                            <li>Omschrijving: <br />
                                {{ project.omschrijving|nl2br }}
                            </li>
                            <li> gebruikte skills : 
                                {% for skill, value in project.skills %}
                                    {{value.naam}} {% if not loop.last %},{%endif%}
                                {% endfor %}
                            </li>
                           
                        </ul>
                    </div>
                            <div class="col-xs-5">
                                <img class="img-admin-thumb img-rounded" src="{{ asset('uploads/afbeeldingen/'~project.afbeelding~'') }}" alt="{{project.naam}}"/>
                        
                            </div>
                                <p class="col-xs-12 bg-succes text-center">
                                    <a href="{{ path ('bplaetevoet_admin_editproject',  {projectnaam:project.naam}) }}"><button class="btn btn-primary">Bewerken</button></a>
                                </p>
                                    
                                                           
                </section>
            {% endfor %}
        
        </div>
    </div>
    <section class="middle">
        <div class="container">
            {{ form(form) }}
        </div>
   </section>
    {% endblock %}